bpm-auto-account-stub/src/main/resources/META-INF/wsdl/ExceptionsProcessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://MOMEXT2/ExceptionsProcessService.tws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://MOMEXT2/ExceptionsProcessService.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://MOMEXT2/ExceptionsProcessService.tws">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://MOMEXT2/ExceptionsProcessService.tws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://MOMEXT2/ExceptionsProcessService.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element name="LogException">
    <complexType>
      <sequence>
        <element name="exceptionProcessReq" type="impl:ExceptionProcessBO"/>
      </sequence>
    </complexType>
  </element>
  <element name="LogExceptionResponse">
    <complexType>
      <sequence>
        <element name="exceptionProcessReq" type="impl:ExceptionProcessBO"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="ExceptionProcessBO">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="policyNumber" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="idNumber" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="cmsNumber" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="failureType" nillable="false" type="impl:ExceptionBO"/>
    </sequence>
  </complexType>
  <complexType name="ExceptionBO">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="exceptionType" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="exceptionDetails" nillable="false" type="xsd:string"/>
    </sequence>
  </complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="LogExceptionResponse">
    <wsdl:part name="parameters" element="impl:LogExceptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogExceptionRequest">
    <wsdl:part name="parameters" element="impl:LogException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExceptionsProcessServicePortType">
    <wsdl:operation name="LogException">
      <wsdl:input name="LogExceptionRequest" message="impl:LogExceptionRequest">
    </wsdl:input>
      <wsdl:output name="LogExceptionResponse" message="impl:LogExceptionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExceptionsProcessServiceSoapSoapBinding" type="impl:ExceptionsProcessServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LogException">
      <wsdlsoap:operation soapAction="http://MOMEXT2/ExceptionsProcessService.tws/LogException"/>
      <wsdl:input name="LogExceptionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LogExceptionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExceptionsProcessService">
    <wsdl:port name="ExceptionsProcessServiceSoap" binding="impl:ExceptionsProcessServiceSoapSoapBinding">
      <wsdlsoap:address location="https://cesbpmtst.metmom.mmih.biz:443/teamworks/webservices/MOMEXT2/ExceptionsProcessService.tws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
